{% extends 'base.html.twig' %}
        {% block stylesheets %}
        			  <link rel="stylesheet" href="{{ asset('lightbox2-2.11.3/dist/css/lightbox.css')}}">
        <link rel="stylesheet" href="{{ asset('lightbox2-2.11.3/dist/css/lightbox.min.css')}}">
        <link rel="stylesheet" href="{{ asset('lightbox2-2.11.3/dist/images')}}">
        {% endblock %}


{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container-fluid">

   <h2 style="font-size: 2.5rem; font-weight: 800; color: #0E4194;" class=" text-uppercase p-1 fw-light text-center text-lg-center mt-3 mb-0">Photos du Club</h1>

  <hr class="mt-2 mb-5">
<div class="container" style="padding-left: 20%; padding-right: 20%;">
  <div class="row text-center text-lg-start d-flex ">
 	{% for media in media %}
           	{% for media in media.images %}
    <div class="col-md-4 d-flex justify-content-center align-items-center text-center p-0 m-0" style="widht:200px; height:auto;">
 <a  class="shadow-3-strong rounded mb-4" href="{{ asset('/uploads/'~media.name) }}" data-lightbox="roadtrip"><img src="{{ asset('/uploads/'~media.name) }}" class="example-image img-thumbnail" style="max-width:200px; height:auto;">
 </a>
    </div>
   {% endfor %}
            {% endfor %}
</div>
  </div>

</div>



{% endblock %}

        {% block javascripts %}

         <script src="{{ asset('lightbox2-2.11.3/dist/js/lightbox.js')}}"></script>
  <script src="{{ asset('lightbox2-2.11.3/dist/js/lightbox-plus-jquery.min.js')}}"></script>
   <script src="{{ asset('lightbox2-2.11.3/dist/js/lightbox.min.js')}}"></script>
  <script src="{{ asset('lightbox2-2.11.3/dist/js/lightbox-plus-jquery.js')}}"></script>

<script  src="{{ asset('jquery-3.6.0.min.js')}}"></script>
        {% endblock %}
