{% extends 'base.html.twig' %}
{% block title %}Vidéo et Radio{% endblock %}
        {% block stylesheets %}
        			  <link rel="stylesheet" href="{{ asset('lightbox2-2.11.3/dist/css/lightbox.css')}}">
        <link rel="stylesheet" href="{{ asset('lightbox2-2.11.3/dist/css/lightbox.min.css')}}">
        <link rel="stylesheet" href="{{ asset('lightbox2-2.11.3/dist/images')}}">
        {% endblock %}


{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container-fluid">

<h2 style="font-size: 2.5rem; font-weight: 800; color: #0E4194;" class=" text-uppercase p-1 fw-light text-center text-lg-center mt-3 mb-0">Vidéo & Radio</h1>

  <hr class="mt-2 mb-5"> 

<div class="container d-flex justify-content-start ">
  <div class="row text-center text-lg-start mb-5">
<div class="m-2 col-md-4 border  border-5 rounded" style="border-color:#3576b7!important"><a href="https://www.radiofrance.fr/franceculture/podcasts/sans-oser-le-demander/championnat-du-monde-d-ironman-a-quoi-bon-se-faire-autant-de-mal-4837919" target="_blank"><img class="img-fluid fftri" src="https://www.radiofrance.fr/s3/cruiser-production/2022/10/9284bb00-0388-437d-958c-eae7bc937b00/560x315_063-1431321786.webp" alt="Logo-EFT-CMJN-1" border="0"><span style="font-size:1.5rem">RadioFrance</span> <br> Championnat du monde d’Ironman : à quoi bon se faire autant de mal ?</a>
 </div>
 <div class="m-2 col-md-4 border  border-5 rounded" style="border-color:#3576b7!important"><a href="https://www.francebleu.fr/emissions/100-sport-sur-france-bleu-auxerre/auxerre/tom-de-l-us-joigny-tennis-ramasseur-de-balles-a-roland-garros?utm_medium=Social&utm_source=Facebook&fbclid=IwAR1yQNaCaqc9qRoWWyWf6OoSsWdmzWeEwt3KkDQAcE3QWxxw2gw49YAs8Xc#Echobox=1621877477" target="_blank"><img class="img-fluid fftri" src="https://www.radiofrance.fr/s3/cruiser-production/2021/05/a0ab51a7-468f-45b6-8065-8cb80559c10b/860_178739650_4059493804089700_2009157410045828748_n.webp" alt="Logo-EFT-CMJN-1" border="0"><span style="font-size:1.5rem">France Bleu</span> <br>L'AJA Triathlon propose un défi en ligne</a>
 	</div>

  {% for media2 in media2 %}
           	{% for media2 in media2.images %}
    <div class="col-md-4 d-flex justify-content-center align-items-center text-center p-0 m-0" style="widht:200px; height:auto;">
      <a class="shadow-3-strong rounded mb-4" href="{{ asset('/uploads/'~media2.name) }}" data-lightbox="roadtrip"><img src="{{ asset('/uploads/'~media2.name) }}" class="example-image img-thumbnail" style="max-width:200px; height:auto;"></a>
    </div>
   {% endfor %}
            {% endfor %}

  </div>
</div>
</div>



{% endblock %}

        {% block javascripts %}

         <script src="{{ asset('lightbox2-2.11.3/dist/js/lightbox.js')}}"></script>
  <script src="{{ asset('lightbox2-2.11.3/dist/js/lightbox-plus-jquery.min.js')}}"></script>
   <script src="{{ asset('lightbox2-2.11.3/dist/js/lightbox.min.js')}}"></script>
  <script src="{{ asset('lightbox2-2.11.3/dist/js/lightbox-plus-jquery.js')}}"></script>

<script  src="{{ asset('jquery-3.6.0.min.js')}}"></script>
        {% endblock %}
