{% extends 'base.html.twig' %}

{% block title %}Inscription étape 1{% endblock %}

{% block body %}
<style>
@media screen and (max-width: 670px) {
  .nageur {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container-fluid pb-5 ps-0 pe-0" style="padding-top:60px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://images.pexels.com/photos/117018/pexels-photo-117018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center bottom fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
    <div class="row text-white text-center p-0 ms-0 me-0"  style="margin-bottom:30px;">
            <h2 class="text-uppercase p-1 " style="font-size: 2.5rem; font-weight: 800;">Inscription</h2>
        </div>

</div>





<div class="container-fluid">
<div class="row">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
              <a class="nav-link active" href="{{ path('inscrivez_vous') }}"
          >Accueil</a>
                   <a class="nav-link disabled"
          >/</a>
        <a class="nav-link disabled" aria-current="page" href="{{ path('inscrivez_vous1') }}"><span style="color: #000;!important;">Contact</span></a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous2') }}">Réfléxion</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous3') }}">Découverte</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous4') }}">Inscription</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous5') }}">Validation</a>
      </div>
    </div>
  </div>
</nav>
<div class="p-4 d-flex justify-content-center">
 <div class="card p-5 " style="background: rgba(53, 118, 183,0.2);  ">
<h4 class="text-uppercase p-3" style="font-size: 1.5rem; color: #3576b7;font-weight: 800;">LE TEMPS DU
CONTACT</h4>
<p class=" p-3" style="font-size: 1.125rem; color: #000;font-weight: 800;">JE CONTACTE L'AJA TRIATHLON<br><br>Je demande mon livret d'accueil et le règlement intérieur de la section AJA TRIATHLON.</p>
<!-- Modal -->
<div class="row d-flex justify-content-center">
<h2 class=" mt-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">par email :
						</h2>
            <div class="col-md-10 d-flex justify-content-center">
            <a class="btnaja text-center" href="mailto:ajatriathlonauxerre@gmail.com":type="email" style="font-size: 0.875em;; color: #000;font-weight: 400;">
							<button  style="font-size: 1em;color: #3576b7; font-weight: 800; font-size:1.5rem;" class="btn btn-white">ajatriathlonauxerre@gmail.com</button></a></div>
<!--
                                    {{ form_start(form)}}
                                    <input type="hidden" name="raison">
                                    {{ form_end(form)}}-->


<style>
  @media screen and (max-width: 800px) {
.btnaja{
    font-size: 10px!important;
}
}
</style>
<br>
<div class="col-md-10 d-flex justify-content-center mt-4">
<a href="{{ path('inscrivez_vous2') }}"><button type="button" class="btn ms-2 text-white text-uppercase" style="font-size: 1.5rem; background-color: #3576b7;font-weight: 800;">étape suivante</button></a>
   </div>   
   </div>
   </div>                     
</div>
</div>
</div>
{% endblock %}
