{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
<style>
@media screen and (max-width: 670px) {
  .nageur {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container-fluid">
      <div class="row"style="
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/kGfkQ9b/bg5.jpg) no-repeat  center 35% fixed; height: 8rem; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
        <div class="col-md-12 text-white d-flex justify-content-center align-items-center">
            <h2 class="text-uppercase p-1 " style="font-size: 2.5rem; font-weight: 800;">Inscription</h2>
        </div>
        </div>
</div>





<div class="container-fluid">
<div class="row">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
              <a class="nav-link active" href="{{ path('inscrivez_vous') }}"
          >Accueil</a>
                   <a class="nav-link disabled"
          >/</a>
        <a class="nav-link disabled" aria-current="page" href="{{ path('inscrivez_vous1') }}"><span style="color: #000;!important;">1 Contact</span></a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous2') }}">2 Réfléxion</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous3') }}">3 Découverte</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous4') }}">4 Inscription</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous5') }}">5 Validation</a>
      </div>
    </div>
  </div>
</nav>
<div class="p-5 text-center">
 <div class="card p-5 " style="background: rgba(53, 118, 183,0.2);  ">
<h4 class="text-uppercase p-3" style="font-size: 1.5rem; color: #3576b7;font-weight: 800;">LE TEMPS DU
CONTACT</h4>
<p class=" p-3" style="font-size: 1.125rem; color: #000;font-weight: 800;">JE CONTACTE L'AJA TRIATHLON<br><br>Je demande mon livret d'accueil et le règlement intérieur de la section AJA TRIATHLON.</p>
<!-- Modal -->
<div class="d-flex justify-content-center">
<h2 class="mb-3" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">par email :
						</h2>
            <a class="mb-3 p-3" href="mailto:ajatriathlonauxerre@gmail.com":type="email" style="font-size: 1rem; color: #000;font-weight: 400;">
							<button class="btn btn-white mb-5">ajatriathlonauxerre@gmail.com</button></a>
<!--
                                    {{ form_start(form)}}
                                    <input type="hidden" name="raison">
                                    {{ form_end(form)}}-->
</div>
   </div>                        
</div>
</div>
</div>
{% endblock %}
