{% extends 'base.html.twig' %}

{% block title %}Inscription étape 2{% endblock %}

{% block body %}
<style>
@media screen and (max-width: 670px) {
  .nageur {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container-fluid">
      <div class="row"style="
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/kGfkQ9b/bg5.jpg) no-repeat center  35% fixed; height: 8rem; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
        <div class="col-md-12 text-white d-flex justify-content-center align-items-center">
            <h2 class="text-uppercase p-1 " style="font-size: 2.5rem; font-weight: 800;">Inscription</h2>
        </div>
        </div>
</div>





<div class="container-fluid">
<div class="row">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
              <a class="nav-link active" href="{{ path('inscrivez_vous') }}"
          >Accueil</a>
                   <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous1') }}">1 Contact</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link disabled" aria-current="page" href="{{ path('inscrivez_vous2') }}"><span style="color: #000;!important;">2 Réfléxion</span></a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous3') }}">3 Découverte</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous4') }}">4 Inscription</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous5') }}">5 Validation</a>
      </div>
    </div>
  </div>
</nav>
{% for message in app.flashes('message') %}
<div class="p-3 text-white rounded-2 bg-success mb-2 mt-2">{{ message }}</div>
{% endfor %}
<div class="p-5 text-center">
 <div class="card p-5 " style="background: rgba(53, 118, 183,0.2);  ">
<h4 class="text-uppercase p-3" style="font-size: 1.5rem; color: #3576b7;font-weight: 800;">LE TEMPS DE LA REFLEXION</h4>
<p class=" p-3" style="font-size: 1.125rem; color: #000;font-weight: 800;">J'ai lu le livret d'accueil et le règlement, j'adhère, je suis motivé(e).<br><br> Je remplis un PASS'CLUB pour découvrir les activités gratuitement pendant 1 mois !</p>
<a href="https://drive.google.com/file/d/16HifA8hKJBVmlOJxEJIvHpx85CB3Zo8a/view?usp=sharing" target="_blank"><button type="button" class="btn " style="color:#3576b7;font-size: 1.5rem; background-color: #fff;font-weight: 800;">Télécharger un Pass Club</button></a>
<div class="mt-3"><a href="{{ path('inscrivez_vous3') }}"><button type="button" class="btn text-white" style="font-size: 1.5rem; background-color: #3576b7;font-weight: 800;">étape suivante</button></a>
</div>
</div>
                    

</div>
</div>
</div>
{% endblock %}
