{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
<style>
@media screen and (max-width: 670px) {
  .nageur {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container-fluid">
      <div class="row"style="
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/kGfkQ9b/bg5.jpg) no-repeat center 35% fixed; height: 8rem; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
        <div class="col-md-12 text-white d-flex justify-content-center align-items-center">
            <h2 class="text-uppercase p-1 " style="font-size: 2.5rem; font-weight: 800;">Inscription</h2>
        </div>
        </div>
</div>





<div class="container-fluid">
<div class="row">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
              <a class="nav-link active" href="{{ path('inscrivez_vous') }}"
          >Accueil</a>
                   <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous1') }}">1 Contact</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous2') }}">2 Réfléxion</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous3') }}">3 Découverte</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous4') }}">4 Inscription</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link disabled" aria-current="page" href="{{ path('inscrivez_vous5') }}"><span style="color: #000;!important;">5 Validation</span></a>
      </div>
    </div>
  </div>
</nav>
<div class="p-5 text-center">
 <div class="card p-5 " style="background: rgba(53, 118, 183,0.2);  ">
<h4 class="text-uppercase p-3" style="font-size: 1.5rem; color: #3576b7;font-weight: 800;">LE TEMPS DE LA VALIDATION</h4>
<p class=" p-3" style="font-size: 1.125rem; color: #000;font-weight: 800;">J'ai validé, réglé ma licence, j'ai édité mes documents <br>(le <span style="color: #3576b7;">justificatif de réglement de la licence</span>, le <span style="color: #3576b7;">questionnaire médical</span> si nécessaire,<br>  <span style="color: #3576b7;">autorisation parentale</span> pour les mineurs,  le <span style="color: #3576b7;">droit à l'image</span> et la <span style="color: #3576b7;">visite médicale</span>).<br><br> Je transmets les documents à la <span class="text-uppercase" type="button" data-mdb-toggle="modal" data-mdb-target="#exampleModal2" style="font-size: 1.15rem;color: #3576b7; text-decoration: underline #3576b7;font-weight: 800;">trésorière</span> et je règle par chèque ou <span type="button" data-mdb-toggle="modal" data-mdb-target="#exampleModal1"  style="font-size: 1.15rem;color: #3576b7; text-decoration: underline #3576b7;font-weight: 800;">VIREMENT
</span> mon adhésion au club.</p>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex justify-content-center" style="background-color: #3576b7;">
      <div class="card p-4" style="height:400px; width:300px;">
                <div class="d-flex justify-content-center" >
                    <img
                    src="https://i.ibb.co/t2pq2r2/Unknown.png"
                    class="img-fluid"  style=" height:200px; width:200px; border-radius: 50%; "
                    />
                    <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #3576b7; font-size: 1.125rem; font-weight: 800;" style="">ALEXANDRA ROLLET</h5>
                    <p>
                    9 RUE JACQUES BREL 89240 CHEVANNES
                    <br>
                    email :
                    </p>
                </div>
            </div>
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">X</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"><img class="img-fluid" src="https://i.ibb.co/qMbX7gC/PHOTO-2022-02-08-22-18-28.jpg" alt="PHOTO-2022-02-08-22-18-28" border="0"></div>
      <div class="modal-footer">
        <a href="https://i.ibb.co/qMbX7gC/PHOTO-2022-02-08-22-18-28.jpg" target="_blank"><button type="button" class="btn btn-secondary">Zoom</button></a>
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">X</button>
      </div>
    </div>
  </div>
</div>
<a href="{{ path('commander') }}"><button type="button" class="btn text-white text-uppercase" style="font-size: 1.5rem; background-color: #3576b7;font-weight: 800;">Commandez votre tenue AJA</button></a>

      </div>              

</div>
</div>
</div>

{% endblock %}
