{% extends 'base.html.twig' %}

{% block title %}L'inscription{% endblock %}

{% block body %}
<style>
@media screen and (max-width: 670px) {
  .nageur {
    position: absolute;
    left: -999em;
  }
}
</style>

<div class="container-fluid pb-5 ps-0 pe-0" style="padding-top:60px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://images.pexels.com/photos/117018/pexels-photo-117018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center bottom fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
    <div class="row text-white text-center p-0 ms-0 me-0"  style="margin-bottom:30px;">
            <h2 class="text-uppercase p-1 " style="font-size: 2.5rem; font-weight: 800;">Inscription</h2>
        </div>
        </div>
</div>





<div class="container-fluid">
<div class="row">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
              <a class="nav-link disabled"
          ><span style="color: #000;!important;">Accueil</span></a>
                   <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous1') }}">Contact</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous2') }}">Réfléxion</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous3') }}">Découverte</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous4') }}">Inscription</a>
         <a class="nav-link disabled"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('inscrivez_vous5') }}">Validation</a>
      </div>
    </div>
  </div>
</nav>
<div class="p-4 d-flex justify-content-center">
 <div class="card p-5 " style="background: rgba(53, 118, 183,0.2);  ">
<img class="img-fluid rounded " src="https://i.ibb.co/7QSGkD2/Capture-d-cran-2022-01-27-163359.png" alt="Capture-d-cran-2022-01-27-163359" border="0" height="auto" width="700px">
<h4 class="text-uppercase p-3" style="font-size: 1.5rem; color: #3576b7;font-weight: 800;">COMMENT S'inscrire à Aja triathlon ?</h4>
<p class=" p-3" style="font-size: 1.125rem; color: #000;font-weight: 800; text-align: justify;">Rien de plus simple !<br><br> Suivez les étapes du parcours d'inscription en cliquant sur <a class="text-center" href="{{ path('inscrivez_vous1') }}"><button type="button" class="btn ms-2 text-white text-uppercase" style="font-size: 1rem; background-color: #3576b7;font-weight: 800;">GO !</button></a> <br><br> Ou reprenez votre inscription en sélectionant l'étape ci-dessus.<br>Vous pouvez également télécharger la fiche méthode du livret d'accueil !</p> <a class="text-center" href="https://drive.google.com/file/d/1GTW4uPEU87rnDK8j6C9j4wl03Kce6hsA/view?usp=sharing" target="_blank"><button class="btn  text-white text-uppercase" style="font-size: 1rem; background-color: #3576b7;font-weight: 800;">Télécharger</button></a>
</div>
</div>
</div>
</div>


{% endblock %}
