<h1>Demande de commande pour l'article "{{ annonce.titre }}" de taille "{{ taille }}" </h1>
<p>De Mr ou Madame "{{ nom }} {{ prenom }}" </p>
<p>Contact : "{{ mail }}" </p>
<p>Demande spécifique : "{{ message }}"</p>