{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container-fluid d-flex">
              <a class="nav-link disabled"
          ><span style="color: #000;!important;">Boutique</span></a>
                   <a class="nav-link disabled ps-0 pe-0"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('course_a_pied') }}">Course à pied</a>
                      <a class="nav-link disabled ps-0 pe-0"
          >/</a>
        <a class="nav-link active" aria-current="page" href="{{ path('natation_eau_libre') }}">Natation</a>
                           <a class="nav-link disabled ps-0 pe-0"
          >/</a>

          <a class="nav-link active" aria-current="page" href="{{ path('velo') }}">Vélo</a>

</div>
{% for message in app.flashes('message') %}
<div class="p-3 text-white rounded-2 bg-success mb-2">{{ message }}</div>
{% endfor %}
<div style=" background-color: rgba(53, 118, 183, 0.2);" class="container-fluid d-flex justify-content-center p-4">



    <div class="row d-flex">
        <div class="col-md-7 text-center ps-5 pe-5 mt-2">


    

                          

         {% for image in annonce.images %}
                    

                          <img src="{{ asset('/uploads/'~image.name) }}" class="d-flex align-items-center justify-content-center img img-fluid rounded" style="max-height: 600px; width:auto;"/>


        {% endfor %}
           
       










        </div>
                <div class="card col-md-5 d-flex justify-content-around flex-column mt-2 p-3">
                <div class="text-center">
                <img src="{{ asset('uploads/'~annonce.images[0].name) }}" style="height: 250px; max-width:380px;"/>
                </div>
                <div class="text-start">

                    <h5 class="pt-3" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">{{ annonce.titre }}</h5>
                </div>
                <div class="text-justify">

                    <p style="font-size: 1rem; color:black;font-weight: 800;">{{ annonce.description|raw }}</p>
                    </div>
                <div class="d-flex justify-content-around">

                    <h4 style="font-size: 2rem;font-weight: 800;"><span style="color: #3576b7;">{{ annonce.prix }}€</span></h4>
                    <!-- Button trigger modal -->
                    <button style="font-size: 1rem; background-color: #3576b7;font-weight: 800;" type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                    Commander
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Commande de l'article "{{ annonce.titre }}"</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <h2 class="mb-3 text-center" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Commandez par mail :
						</h2>
                        <a class="text-center" href="mailto:ajatriathlonauxerre@gmail.com":type="email" style="font-size: 1rem; color: #000;font-weight: 400;">
							<button class="btn mb-5">ajatriathlonauxerre@gmail.com</button></a>
                        <!-- <div class="modal-body">

                        {{ form_start(form)}}
                        <input type="hidden" name="raison">
                        {{ form_widget(form.titre)}}


                        {{ form_label(form.nom)}}
                        {{ form_widget(form.nom)}}

                        {{ form_label(form.prenom)}}
                        {{ form_widget(form.prenom)}}


                        {{ form_label(form.email)}}
                        {{ form_widget(form.email)}}

                        <div class="mt-1 mb-1">{{ form_label(form.taille)}}</div>
                        {{ form_widget(form.taille)}}


                       <div> {{ form_label(form.message)}}<br>
                        {{ form_widget(form.message)}}</div>


                        {{ form_widget(form.valider)}}




 
                        {{ form_end(form)}} -->
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
window.onload = () => {
    document.querySelector("#boutique_contact_titre").value ="{{annonce.titre}}"
}
</script>
{% endblock %}